{% import_yaml 'telegraf/defaults.yaml' as defaults %}
{% import_yaml 'telegraf/oscodename.yaml' as oscodename_map %}

{% set oscodename = salt['grains.filter_by'](oscodename_map, grain='oscodename') %}

{% do defaults.telegraf.update(oscodename) %}

{% set telegraf = salt['pillar.get']('telegraf', default=defaults.telegraf, merge=True) %}
